[Desktop Entry]
Name=Doom Emacs Server
GenericName=Text Editor
Comment="Doom configuration for Emacs
Icon=emacs
Exec=emacs --bg-daemon=doom_server
TryExec=emacs
Terminal=false
Type=Application
Categories=Text;Editor;
MimeType=x-scheme-handler/text;
