[Desktop Entry]
Name=Emacs profile (null)
Icon=/usr/share/icons/hicolor/48x48/apps/emacs.png
Comment=Start Emacs with null profile
Type=Application
Terminal=false
Categories=Utility;TextEditor;
Exec=emacs --init-directory ~/.config/null_emacs