[Desktop Entry]
Name=Emacs daemon (nondoom)
Icon=/usr/share/icons/hicolor/48x48/apps/emacs.png
Comment=Start Emacs daemon (nondoom)
Type=Application
Terminal=false
Categories=Utility;TextEditor;
Exec=bash \~/.config/scripts/emacs_server.sh -s nondoom