#!/bin/sh

xset r rate 250 35
xset +fp /home/eethern/.fonts
xset fp rehash
xset -b

# Make sure this is before the 'exec' comand or it won'b be sourced
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

~/.screenlayout/Layout.sh

exec bspwm
