#!/bin/sh

xset r rate 190 25
xset +fp /home/eethern/.fonts
xset fp rehash
xset -b

# Escape -> Caps and set swedish keyboard
setxkbmap se -option caps:swapescape

# Make sure this is before the 'exec' comand or it won'b be sourced
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

exec bspwm
