[Desktop Entry]
Name=Spacemacs Emacs Client
GenericName=Text Editor
Comment=Spacemacs configuration for Emacs
Icon=emacs
Exec=emacsclient -c
TryExec=emacs
Terminal=false
Type=Application
Categories=Text;Editor;
MimeType=x-scheme-handler/text;
