@define-color color-foreground #ceb3a9;
@define-color color-alert #e75d5d;
@define-color color-highlight #d09950;
@define-color color-highlight2 #a9c99f;
@define-color color-inactive #6d5f58;
@define-color color-blue #80aadf;


* {
    all: unset;
}

window#waybar {
    background: transparent;
}

.module {
    padding: 0 0.5em;
}

.modules-left,
.modules-right {
    font-family: "Iosevka Nerd Font";
    font-size: 1.3em;
}

.modules-center {
    font-family: "Iosevka Nerd Font Mono";
}

.modules-left,
.modules-center,
.modules-right {
    color: @color-foreground;
}

#custom-do-not-disturb:hover,
#pulseaudio:hover,
#pulseaudio:hover,
#mpris:hover,
#clock:hover,
button:hover {
    box-shadow: inset 0 -2px @color-highlight;
}

#workspaces {
    font-size: 2em;
}

#workspaces button {
    color: @color-foreground;
    padding: 0 0.4em;
    margin: 0;
}

#workspaces button.active:not(.hosting-monitor) {
    color: @color-highlight2;
}

#workspaces button.active.hosting-monitor {
    color: @color-highlight;
}

#workspaces button.empty {
    color: @color-inactive;
}

#workspaces button.visible {
    color: @color-highlight2;
}

#workspaces button.urgent {
    color: @color-alert;
}

#network.disabled,
#network.disconnected {
    color: @color-alert;
}

#pulseaudio.bluetooth {
    color: @color-blue;
}

#pulseaudio.source.source-muted {
    color: @color-alert;
}

#pulseaudio.sink.sink-muted {
    color: @color-alert;
}

#custom-do-not-disturb.on {
    color: @color-alert;
}
