[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/emacsclient --socket-name doom_server -e '(mu4e-update-mail-and-index 1)'
